* text=auto

*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.md text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.ps1 text eol=crlf

*.uf2 binary
*.bin binary
*.elf binary
*.hex binary
*.a binary
*.png binary
*.jpg binary
*.jpeg binary
